<launch>

  <group ns="rocket">
      <rosparam file="$(find tvc_simulator)/config/rocket_parameters.yaml" />
  </group>

  <group ns="environment">
      <rosparam file="$(find tvc_simulator)/config/environment_parameters.yaml" />
  </group>

  <group ns="perturbation">
      <rosparam file="$(find tvc_simulator)/config/perturbations_parameters.yaml" />
  </group>

</launch>
